<input type="text" [(ngModel)]="title">
{{title}}

<!-- <div *ngIf="title === 'angie'">
  esta es angie
</div> -->

<div [ngSwitch]="title">
  <p *ngSwitchCase="'angie'">esta es angie</p>
  <p *ngSwitchCase="'andres'">este es andres</p>
  <p *ngSwitchCase="'juan'">este es juan</p>
  <p *ngSwitchDefault>NO HAY MATCH</p>
</div>
<button (click)="addItem()">Add Item</button>
<ul>
  <li *ngIf="items.length === 0">la lista esta vacia</li>
  <li *ngFor="let name of items;index as i">
{{name}} {{i}}
<button (click)="deleteItem(i)">delete</button>
  </li>
</ul>
<div *ngFor="let product of products">
{{product.title}}
<img [src]="product.image" alt="">
{{product.price}}
</div>